.c1 {background-color: whitesmoke; border: 5px solid gray; color: darkblue;
	 text-align: center; margin-right: 300px; margin-left: 300px;
	 font-family: monospace, fantasy; border-radius: 30px;}

#press {background-color: skyblue; font-family: monospace; font-size: 16px; 
	border-radius: 10px; width: 100px;}